<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript Autocomplete</string>
	<key>uuid</key>
	<string>DE57F913-521D-4141-BE0F-DFC2B894117D</string>
</dict>
</plist>
